{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');contain-intrinsic-size:auto 320px;content-visibility:visible;">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pv4 pv6-l ph3 ph4-ns" style="min-height:120px;">
        <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header style="contain-intrinsic-size:auto 160px;content-visibility:visible;">
    <div class="pb3-m pb3-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv2 ph3 ph4-ns" style="min-height:80px;">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.tagline }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt2 mb3">
            {{ . }}
          </h2>
        {{ else }}
          {{ with .Params.description }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt2 mb3">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}